@use 'mixins';

$slider-width-number: 1920;
$slider-width: 100%;
$slider-height: 5px;
$background-slider: #c7c7c7;
$background-filled-slider: linear-gradient(90deg, #cbb1f1 0, #435993 100%);
$thumb-width: 28px;
$thumb-height: 20px;
$thumb-radius: 0;
$thumb-background: 100% / contain no-repeat url('../img/range.svg');
$thumb-border: none;
$shadow-size: -7px;
$fit-thumb-in-slider: -8px;

@function makelongshadow($color, $size) {
		$val: 5px 0 0 $size $color;
		
		@for $i from 6 through $slider-width-number {
				$val: #{$val}, #{$i}px 0 0 $size #{$color};
		}
		
		@return $val;
}

input[type='range'] {
		align-items: center;
		appearance: none;
		background: none;
		cursor: pointer;
		display: flex;
		height: 100%;
		min-height: 50px;
		overflow: hidden;
		width: $slider-width;
		
		&:focus {
				box-shadow: none;
				outline: none;
		}
		
		&::-webkit-slider-runnable-track {
				height: $slider-height;
				background: $background-filled-slider;
				pointer-events: none;
		}
		
		&::-webkit-slider-thumb {
				width: $thumb-width;
				height: $thumb-height;
				appearance: none;
				background: $thumb-background;
				border-radius: $thumb-radius;
				box-shadow: makelongshadow($background-slider, $shadow-size);
				margin-top: $fit-thumb-in-slider;
				border: $thumb-border;
		}
		
		
		&::-moz-range-track {
				width: $slider-width;
				height: $slider-height;
		}
		
		&::-moz-range-thumb {
				width: $thumb-width;
				height: $thumb-height;
				background: $thumb-background;
				border-radius: $thumb-radius;
				border: $thumb-border;
				position: relative;
		}
		
		&::-moz-range-progress {
				height: $slider-height;
				background: $background-filled-slider;
				border: 0;
				margin-top: 0;
		}
		
		&::-ms-track {
				background: transparent;
				border: 0;
				border-color: transparent;
				border-radius: 0;
				border-width: 0;
				color: transparent;
				height: $slider-height;
				margin-top: 10px;
				width: $slider-width;
		}
		
		&::-ms-thumb {
				width: $thumb-width;
				height: $thumb-height;
				background: $thumb-background;
				border-radius: $thumb-radius;
				border: $thumb-border;
		}
		
		&::-ms-fill-lower {
				background: $background-filled-slider;
				border-radius: 0;
		}
		
		&::-ms-fill-upper {
				background: $background-slider;
				border-radius: 0;
		}
		
		&::-ms-tooltip {
				display: none;
		}
}