@mixin md {
		@media (max-width: 768px) {
				@content;
		}
}
@mixin icons {
		display: inline-block;
		font-family: 'Glyphter';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		text-transform: initial;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}